@font-face {
  font-family: "cyber";
  src: url("Assets/cyberpunkwaifus/CyberpunkWaifus\ \(1\).ttf");
}

body {
  color: #ffffff;
  background: url("Assets/4910984.gif") fixed no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "cyber";
}
@media screen and (min-width: 80rem) {
  .title {
    height: fit-content;
    width: fit-content;
    top: 5%;
    right: 40%;
  }
  .all {
    display: flex;
    width: 100vw;
    height: 100vw;
  }

  .card {
    width: auto;
    height: auto;
    position: absolute;
    background: rgba(7, 0, 118, 0.4);
    border-radius: 1rem;
    opacity: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .container {
    padding: 2px 16px;
  }

  .projects {
    background: rgba(7, 0, 118, 0.8);
    font-weight: 600;
    right: 0%;
    top: 38%;
  }

  .description {
    width: fit-content;
    height: fit-content;
    font-size: large;
    top: 40%;
    right: 35%;
  }

  .contacts {
    height: 115px;
    width: 200px;
    top: 12%;
    left: 11%;
    padding-left: 15px;
  }
  .accounts {
    position: absolute;
    bottom: 1px;
    left: 740px;
  }

  a {
    font-size: large;
    font-weight: bold;
    color: #ffffff;
  }

  audio {
    position: absolute;
    left: -5%;
    bottom: 20%;
    transform: rotate(90deg);
  }

  audio::-webkit-media-controls-play-button {
    transform: rotate(-90deg);
    border-radius: 3rem;
    background-color: #b61c98;
  }

  audio::-webkit-media-controls-volume-slider {
    transform: rotate(180deg);
  }

  audio::-webkit-media-controls-mute-button {
    transform: rotate(-90deg);
  }

  audio::-webkit-media-controls-panel {
    background-color: #070076;
  }
}
