@font-face {
  font-family: "baumans";
  src: url("Assets/Baumans/Baumans-Regular.ttf");
}

body {
  color: #ffffff;
  background: url("Assets/4910984.gif") fixed no-repeat;
  background-size: cover;

  font-family: "baumans";
}
.title {
  height: fit-content;
  width: fit-content;
  grid-area: 1/3/1/3;
  padding-left: 5px;
  padding-right: 5px;
}
.all {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20% 20%;
}

.card {
  background-color: #181818;
  border-radius: 1rem;
  opacity: 50%;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  opacity: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.projects {
  margin-top: -10px;
  margin-left: 50px;
  width: 80%;
  height: fit-content;
  display: grid;
  grid-area: 3/5/3/5;
  padding-left: 10px;
  padding-right: 10px;
}

.description {
  font-size: large;
  grid-area: 3/3/5/3;
  padding-left: 10px;
  padding-right: 10px;
}

.contacts {
  height: fit-content;
  width: fit-content;
  grid-area: 1/1/1/3;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 35px;
  margin-left: 190px;
}
.accounts {
  margin-top: 50px;
  grid-area: 7/3/7/3;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
}

audio {
  transform: rotate(90deg);
  grid-area: 7/1/7/1;
  margin-left: -100px;
}

audio::-webkit-media-controls-play-button {
  transform: rotate(-90deg);
  border-radius: 3rem;
  background-color: #b61c98;
}

audio::-webkit-media-controls-volume-slider {
  transform: rotate(180deg);
}

audio::-webkit-media-controls-mute-button {
  transform: rotate(-90deg);
}

audio::-webkit-media-controls-panel {
  background-color: #070076;
}
