/* Global styles */
@font-face {
  font-family: "Barlow", sans-serif;
  src: url("Assets/fonts/Barlow-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.4s ease;
  font-family: "Barlow", sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

section {
  padding: 0 80px;
}

/* Dark Mode styles */
.dark-mode {
  background-color: #111;
  color: #fff;
}

.description {
  font-size: 22px;
}

.contactList {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}

.contactContainer {
  width: 64px;
  height: 64px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  background: linear-gradient(145deg, #cfcfcf, #f6f6f6);
  box-shadow: 5px 5px 11px #cfcfcf, -5px -5px 11px #fdfdfd;
  justify-content: center;
  align-items: center;
}

.contactContainer.dark-mode {
  width: 64px;
  height: 64px;
  border: 1px solid #262626;
  border-radius: 50%;
  background: linear-gradient(145deg, #222222, #292929);
  box-shadow: 5px 5px 11px #1b1b1b, -5px -5px 11px #313131;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gh {
  fill: #fdfdfd;
}

img {
  width: 75%;
  height: 75%;
  padding: 8px;
}

/* Add more specific styling as needed for your portfolio content */
